# Kling AI API Keys
# 申请地址: https://klingai.kuaishou.com/ (国内版用 api-beijing.klingai.com)
KLING_ACCESS_KEY=
KLING_SECRET_KEY=

# 火山方舟 (Volcengine Ark) API Key
# 申请地址: https://www.volcengine.com/product/ark
ARK_API_KEY=